<div class="container flex">

  <div class="flex isRow header">
    <h3>Tasks</h3>
    <div class="flex isRow">
      <div class="image">5</div>
      <div class="image red">2</div>
    </div>
  </div>

  <div class="flex isRow task" *ngFor="let task of tasks">
    <div class="flex isRow">
      <div class="image">{{task.letter}}</div>
      <div class="content">
        <p>{{task.description}}</p>
        <p class="flex isRow time {{task.delay}}">
          <i class="material-icons">access_time</i>{{task.days}}</p>
      </div>
    </div>
    <i class="material-icons dots">more_vert</i>
  </div>

</div>
