#menu {
  margin-right: 20px;
}

#image {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: green;
}

#imageContainer {
  display: flex;
}

a {
  cursor: pointer;
}

.left {
  align-self: center;
}

.addProject {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  background: #3089fe;
  border-radius: 70px;
  padding: 10px 0px;
  margin-right: 20px;
  width: 140px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
