.container {
  width: 450px;
  border: 1px solid #e8ebf0;
  background: white;
}

.header {
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

h5 {
  margin-right: 10px;
}

.activity {
  height: 90px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.material-icons {
  color: #7d92ad;
  font-size: 14px;
  margin-right: 5px;
}

.image {
  font-size: 15px;
  color: white;
  background: #2a89fe;
  padding: 10px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

.header .image {
  padding: 5px 10px;
}

.content {
  margin-bottom: 5px;
}
/* ::before {
  content: '';
  width: 0;
  height: 100%;
  border-left: 1px solid #232b50;
  position: relative;
  top: 0;
  left: -4.35em;
} */

.message-icons {
  margin-top: 5px;
}
