.menu {
  background: #0e2138;
  color: white;
}

.minHeight {
  min-height: 100%;
}

.header {
  padding: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.layout {
  padding: 25px;
  background: #f5f7fa;
  flex-grow: 1;
}
