.menu {
  background: #0e2138;
  color: white;
}

.minHeight {
  min-height: 100%;
}

.header {
  height: 80px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  border: 1px solid #d4dae4;
}

.layout {
  padding: 25px;
  background: #f5f7fa;
  flex-grow: 1;
}

.moved {
  position: fixed;
  transform: translate(-200px);
}
