.menu {
  transition: all 1s linear;
  background: #0e2138;
  color: white;
}

.minHeight {
  min-height: 100%;
}

.header {
  height: 80px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d4dae4;
}

.layout {
  padding: 25px;
  background: #f5f7fa;
}

.moved {
  margin-left: -300px;
  top: 0;
  bottom: 0;
}
