img {
  border-radius: 4px;
  margin-bottom: 20px;
}

.rightImage {
  height: 340px;
  width: auto;
}
.leftImage {
  height: 340px;
  width: auto;
}

a {
  border: none;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
}

.chartContainer {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 2rem;
  margin: 0 20px 20px 0;
}
